<div class="quizz__container">

  <div class="quizz_logo">
    </div>

  <div *ngIf="!finished">
    <div class="quizz_questions">
      <h3>{{questionSelected.question}}</h3>
    </div>

    <div class="quizz_options">
      <button
        *ngFor="let option of questionSelected.options; let i = index"
        (click)="playerChoose(option.alias)"
        class="btn-option"
      >
        {{option.name}}
      </button>
    </div>
  </div>

  <div *ngIf="finished" class="quizz_results">
    <h1>O Seu resultado é:</h1>

    <p class="final-result-text">{{answerSelected}}</p>

    <p *ngIf="finished" class="call-to-action-fixed">
      Escolha qual você quer ser!
    </p>

    <div *ngIf="resultImage" class="result-image-wrapper">
      <img [src]="resultImage" alt="Resultado do Quiz">
    </div>

  </div>
</div>